<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.zucc.anjone.mrp.info.mapper.SupplierMapper">
	<resultMap id="BaseResultMap" type="cn.edu.zucc.anjone.mrp.info.model.Supplier">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="number" property="number" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="linkman" property="linkman" jdbcType="VARCHAR" />
		<result column="tel" property="tel" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="money" property="money" jdbcType="DOUBLE" />
	</resultMap>
	<sql id="BaseSelect">
		select
			id,number,name,address,linkman,tel,remark,money,url
		from
			supplier
	</sql>
	<sql id="PageLimit">
		<where>
			<if test="number!=null and number !=''">
				and number like #{number}
			</if>
			<if test="name!=null and name !=''">
				and name like #{name}
			</if>
			<if test="address!=null and address !=''">
				and address like #{address}
			</if>
			<if test="linkman!=null and linkman !=''">
				and linkman like #{linkman}
			</if>
			<if test="money!=null and money !=''">
				and money like #{money}
			</if>
		</where>
	</sql>
	
	<select id="queryPage" resultMap="BaseResultMap"
		parameterType="cn.edu.zucc.anjone.mrp.info.dto.SupplierDto">
		<include refid="BaseSelect"></include>
		<include refid="PageLimit"></include>
		limit #{start},#{length}
	</select>

	<select id="selectByKey" parameterType="String" resultMap="BaseResultMap">
		<include refid="BaseSelect"></include>
		where id=#{id}
	</select>
	
	<select id="selectByNumber" parameterType="String" resultMap="BaseResultMap">
		<include refid="BaseSelect"></include>
		where number=#{number}
	</select>
	
	<select id="selectByName" parameterType="String" resultMap="BaseResultMap">
		<include refid="BaseSelect"></include>
		where name=#{name}
	</select>
	
	<update id="updateById" parameterType="cn.edu.zucc.anjone.mrp.info.dto.SupplierDto">
		update supplier 
		set number=#{number},name=#{name},address=#{address},linkman=#{linkman},tel=#{tel},remark=#{remark},url=#{url}
		where id=#{id}
	</update>
	
	<insert id="insert" parameterType="cn.edu.zucc.anjone.mrp.info.dto.SupplierDto" >
	    <selectKey keyProperty="id" resultType="String" order="BEFORE">  
	        select  replace(uuid(),'-','')   from dual  
	    </selectKey>
		insert into
		supplier(id,number,name,address,linkman,tel,remark,money,url)
		values (#{id},#{number},#{name},#{address},#{linkman},#{tel},#{remark},#{money},#{url})
	</insert>

	<delete id="deleteByKey" parameterType="String">
		delete from supplier where id= #{id}
	</delete>

	<select id="getCount" resultType="java.lang.Integer" parameterType="cn.edu.zucc.anjone.mrp.info.dto.SupplierDto" >
		select count(1) from supplier
		<include refid="PageLimit"></include>
	</select>
</mapper>